# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.log
*.apk
*.pyc

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/tokens
*.pyc
lint.sh
lint.txt
autoreboot.sh
